@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body, html {
	padding: 0;
	font-family: "Noto Sans","PT Sans", "Times New Roman", sans-serif;
	font-size: 24px;
	line-height: 200%;
	font-weight: 400;
    height: 100%;
    width: 100%;
	margin: 0;
	color: #000;
	letter-spacing: normal;
}

//default

//preloader
.fixed {
    position: fixed;
}
.preloader-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40vh;
    width: auto;
    z-index: 9999;
    transition: 1s;
}
.loaded {
    top: 0;
    z-index: 3;
    transform: translate(-50%, 0);
}
.preloader-bgc {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    z-index: 998;
}
.preloader-block{
    width: 100%;
    height: 40vh;
}


//////////////////////////////////////////////////////////////////
.preloader-dots {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 0);
}
 
  .loader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
            display: none;
            z-index: 999;
  }
  
  .dot {
    background: rgb(59, 59, 59);
    margin: 5px;
    -webkit-animation-name: loader;
            animation-name: loader;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
  }
  
  .dot:nth-child(1) {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
  }
  .dot:nth-child(2) {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s;
  }
  .dot:nth-child(3) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
  }
  .dot:nth-child(4) {
    -webkit-animation-delay: 0.8s;
            animation-delay: 0.8s;
  }
  .dot:nth-child(5) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  
  @-webkit-keyframes loader {
    from {
      width: 2px;
      height: 2px;
      border-radius: 1px;
    }
    to {
      width: 20px;
      height: 20px;
      border-radius: 10px;
    }
  }
  
  @keyframes loader {
    from {
      width: 2px;
      height: 2px;
      border-radius: 1px;
    }
    to {
      width: 20px;
      height: 20px;
      border-radius: 10px;
    }
  }
/////////////////////////////////////////////////////////////////////////





//end  preloader



h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	margin-block-start: 0;
	margin-block-end: 0;
}


.modal-xl {
    max-width: 80vw;
}


.block {
    padding: 2vw 4vw;
}
.text {
    text-align: justify;
	text-indent: 30px;
}



a:visited {
	color: inherit;
}

a {
	color: inherit;
    text-decoration: none;
    position: relative;
    &:hover {
        color: inherit;
        text-decoration: inherit;
    }
}
:focus {
    outline-style: none;
    outline-width: 0px !important;
    outline-color: none !important;
}


//hover
a.hover:hover {
    color: inherit;
    text-decoration:none;
}        
a.hover::before {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    height:1px;
    background: #000;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(6px);
    -moz-transform: translateY(6px);
    transform: translateY(6px);
    pointer-events: none;
}
a.hover:hover::before,
a.hover:focus::before {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}
//end hover



//temporary
.swiper-bambolina {
    width: 100%;
    height: 100%;
}
.news-bambolina-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.modal.fade {
    display: block !important;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease 0s;}
    
    .modal.fade.show {
    display: block !important;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease 0s;}


//end temporary

//nav

$primary: #e0e0e0;
$primary-dark: #000000;
$primary-ultradark:  #000000cb;
$black: #000000;

$ease-in-out-cubic: cubic-bezier(0.645,  0.045, 0.355, 1.000);
$cubic-transition: 0.55s $ease-in-out-cubic;

$bar-length: 28px; 
$bar-thickness: 4px;
$nav-item-delay: 0.05s;
$nav-width: 70px;

.nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: $nav-width;
    height: 63px;
    background-color: $primary-ultradark;
    backdrop-filter: blur(10px);
    transition: 0.5s ease-in-out;
    will-change: width;
    z-index: 99;
    
    &.is-active {
        width: 100%;
        height: 100%;
    }
}

.nav__trigger {
    display: block;
    position: absolute;
    top: 30px;
    right: 20px;
    margin-top: -(($bar-thickness*5) / 2);
    padding: $bar-thickness*2 0;
    transition: 0.2s ease-in-out;
    // transform: translateY(-50%);
    // transform-origin: 100% 50%;
    z-index: 10;

    &:hover {
        cursor: pointer;
        .bars::after {
            transform: translateY(($bar-thickness*3));
        }
        .bars::before {
            transform: translateY(-($bar-thickness*3));
        }
    }
    
    .bars {
        position: relative;
        
        &,
        &:before,
        &:after {
            width: $bar-length;
            height: $bar-thickness;
            background-color: $primary;
            transition: 0.2s ease-in-out;
        }
        
        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            will-change: transform;
        }

        &:before {
            transform: translateY(-($bar-thickness*2.5));
        }
        
        &:after {
            transform: translateY(($bar-thickness*2.5));
        }
    }
    
    &.is-active {
        transform: rotate(-45deg);
        
        .bars {            
            &:before,
            &:after {
                transform: translateX(0)
                           rotate(-90deg);
            }
        }
    }
}

.nav__content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 1200px;
    // padding: 10px $nav-width 1px ($nav-width - 1px);
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%);
    transition: 0s linear 0.25s;
    
    &.is-active {
        visibility: visible;
        opacity: 1;
        transition: 0s linear;
                
        .nav__item {
            a {
                opacity: 1;
                transform: translateY(0);
                transition: {
                    property: transform, opacity, color;
                    duration: 0.55s, 0.55s, 0.3s;
                    timing-function: $ease-in-out-cubic, ease-in-out, ease-in-out;            
                }
            }
        }
        
        .nav__list {
            .nav__item {
                @for $num from 1 through 9 {
                    &:nth-of-type(#{$num}) {
                        a {
                            transition-delay: $nav-item-delay * ($num - 1), $nav-item-delay * ($num - 1), 0s;
                        }
                    }            
                }
            }
        }
    }
}

.nav__list {
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.nav__item {
    overflow: hidden;
    
    a {
        display: inline-block;
        padding: 1rem;
        color: $primary;
        text-decoration: none;
        font-size: 50px;
        font-weight: 300;
        opacity: 0;
        transform: translateY(100%);
        transition: 0.5s $ease-in-out-cubic;
        will-change: transform, opacity;

        &:hover {
            color: rgb(122, 122, 122);
        }
    }
}

.nav__divider {
    margin: 1.75rem 0 1.5rem;
    width: 100%;
    height: 2px;
    background-color: $primary;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: 0.3s $ease-in-out-cubic;
}

//end nav


//end default

//background
.background {
    position: relative;
}

.background-text {
    text-align: center;
    position: absolute;
    bottom: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, 50%);
    color: #fff;
    text-shadow: 2px 2px 10px #000;
    font-weight: bold;
    font-size: 56px;
    width: 100%;
    transition: .1s;
}

.background-image {
    width: 100vw;
    height: 40vh;
    object-fit: cover;
    background: transparent;
    transition: .1s;
}

//pluses bootstrap
.pluses {
    margin: 40px auto 80px;
    max-width: 1920px;
}

.pluses-all {
    img {
        height: 65px;
        width: auto;
    }
    margin-top: 40px;
    text-align: center;
}
.pluses-text {
    margin-top: 20px;
    line-height: 150%;
}
//end pluses

//trends
.trends {
    margin-top: 10px;
    h4 {
        margin-bottom: 10px;
    }
}
.OurTrends {
    height: 25px;
    width: 25px;
    object-fit: contain;
    vertical-align: center;
    margin-right: 10px;
}
.dots {
    text-decoration: underline;
    font-weight: bold;
}
.TrendsHover:hover {
    cursor: pointer;
}
//end trends

//Wallpaper
.LogoWallpaper {
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}

.container-brend {
    width: 100%;
    height: 100%;
}
.slide-brend {
   max-width: fit-content;
   height: 150px;
   line-height: 150px;
   user-select: none;
   img {
       vertical-align: middle;
        object-fit: contain;
        max-width: 300px;
        max-height: 150px;
    }
}

//end wallpaper

//klients
.KlientCont {
    display: inline-block;
    margin-top: 40px;
    text-align: center;
    img {
        max-width: 25%;
        max-height: 250px;
        padding: 10px;
        vertical-align: middle;
        object-fit: contain;
    }
}

//end klients

//news
.swiper-button-next, .swiper-button-prev {
    transition: .3s;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
}

.container1-wrapper {
    align-items: center;
    cursor: grab;
}

.newsBlock {
    width: 450px;
    max-height: 550px;
    padding: 20px;
}
.newsImg {
    text-align: center;
    img {
        width: 100%;
        height: 200px;
        object-fit: contain;
    }
}
.newsTitle {
    text-align: center;
    line-height: 130%;
    margin: 20px;
}
.newsText {
    font-size: 18px;
    line-height: 150%;
    text-align: justify;
}
.newsBut {
    margin: 15px auto;
    text-align: center;
    button {
        height: 50px;
        width: 80%;
        border: 2px solid #aaa;
        border-radius: 20px;
        background-color: #fff;
        transition: .3s;
        &:hover {
            border-radius: 0;
            background-color: #ececec;
        }
    }
}


//ad/////////////////////////////////
.add-div {
    width: fit-content;
}
.ad-video {
    max-height: 550px;
    max-width: 90vw;
    object-fit: contain;
}

//end ad/////////////////////////////

//in news

.news-img {
    max-width: 95%;
    max-height: 80%;
    margin-bottom: 20px;
    object-fit: contain;
    height: auto;
}

//end in news

//end news

//contacts
.contacts {
    max-width: 1920px;
    margin-bottom: 60px;
}

.contact-block{
    margin-top: 40px;
    text-align: center;
    line-height: 160%;
    img {
        height: 65px;
        width: auto;
        margin-bottom: 20px;
    }
}

//end contacts


//form

.but-form-call {
    margin: 20px;
}

.swiper-container-horizontal .swiper-pagination-bullets {
    position: relative;
    margin-top: 40px;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
}
.swiper-pagination-bullet {
    width: 40vw;
    max-width: 600px;
    height: 60px;
    border-radius: 5px;
    transition: 1s color, 1s background-color, .3s border-radius;
    text-align: center;
    line-height: 60px;
    color: #000;
    background: #c0c0c0;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
  }

  .slide-form {
      padding: 40px 4vw;
  }
  .green.swiper-pagination-bullet-active {
      background-color: #28a745;
  }
//end form

//footer
.bgc-footer {
    font-size: 16px;
    line-height: 150%;
    background-color: #a0a0a0;
    position: relative;
    margin-top: 80px;
    padding: 40px 5vw;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &::before {
        content: "";
        position: absolute;
        top: -40px;
        left: 0;
        height: 40px;
        width: 100%;
        background: linear-gradient(0deg, rgba(160,160,160,1) 0%, rgba(255,255,255,1) 100%);
    }
}
//footer nav

.footer-nav {
    list-style: none;
    max-width: 500px;
    margin: 0;
    padding: 0;
    li {
        line-height: 40px;
        position: relative;
    }
}
.footer-nav-img {
    margin-left: 50px;
    height: 15px;
    width: 15px;
    transition: .3s;
    transform: translate(-50%, 0);
}

.link-nav-footer {
    position: absolute;
    width: 100%;
    height: 100%;
}
.link-nav-footer:hover ~ .footer-nav-img {
        transform: translate(0, 0);
}
//end footer nav

//contact
.footer-contact-h1 {
    margin-bottom: 20px;
}
.footer-contact {
    margin-left: 10px;
    margin-bottom: 15px;
    &:last-child {
        margin-bottom: 0;
    }
    img {
        margin-right: 20px;
        width: 25px;
        height: 25px;
    }
}

//end contact

//end footer

@media screen and (max-width: 1400px) {

}


@media screen and (max-width: 700px) {
    body {
        font-size: 18px;
    }
    .text {
        font-size: 16px;
    }
    .nav__item {
        a{
            font-size: 8vw;
        }
    }

    .background-text {
        font-size: 7vw;
        line-height: 120%;
    }

    .LogoWallpaper {
        font-size: 24px;
        margin: 20px 0;
    }
    .slide-brend {
        height: 100px;
        line-height: 100px;
        img {
            max-width: 133px;
            max-height: 100px;
        }
    }
    .KlientCont {
        img {
            max-width: 70%;
            max-height: 200px;
        }
    }
    .newsBlock {
        width: 100vw;
    }
    .newsText {
        font-size: 16px;
    }
    .ad-video {
        max-height: 550px;
        max-width: 90vw;
        object-fit: contain;
    }
    .contact-block {
        img {
            height: 50px;
        }
    }
    .swiper-pagination-bullet {
        font-size: 4vw;
    }
    .form-control {
        font-size: 14px;
    }
    .but-submit {
        font-size: 18px;
        margin-top: 20px;
    }

    .footer-contact-h1 {
        margin-top: 60px;
    }

    .modal-xl {
        max-width: none;
    }
    .modal-body {
        text-align: justify;
        font-size: 16px;
        line-height: 150%;
    }

}